@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer components {
  .auth-bg {
    @apply bg-auth-pattern relative before:bg-auth-gradient before:absolute before:inset-0 h-screen z-0;
  }

  .center-div{
    @apply flex items-center justify-center;
  }


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}